/* Default styles for navigation bar */
body,
html {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
    z-index: 999;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10%;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .navbar {
        padding: 10px 0;
    }
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.navbar-links li {
    list-style: none;
    flex: 1 1 auto;
    text-align: center;

}

.navbar-links .left-links {
    display: flex;
    align-items: center;
    flex: 1 1 0%;
    max-width: 100%;
    justify-content: flex-start;

}

.navbar-links .right-links {
    display: flex;
    align-items: center;
    flex: 1 1 0%;
    max-width: 100%;
    justify-content: flex-end;

}

.navbar-links a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
}

.navbar-links .icon {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.navbar-links .icon img {
    height: 24px;
    width: 24px;
}

.navbar-links a.active {
    color: #ff9900;
}

.navbar-logo img {
    height: 50px;
}

.navbar-icon svg {
    height: 30px;
}

.navbar-scrolled {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px 0;
}

@media screen and (max-width: 768px) {
    .navbar-logo img {
        height: 40px;
    }

    .navbar-icon svg {
        height: 20px;
    }

    .navbar-links .icon {
        display: flex !important;
        justify-content: center;
    }
}