/* General Styles */
body {
    /* padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-size: cover;
    background-position: center; */

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #1b1b1b;
}

/*  buttons */
button {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 48px;
    padding-right: 48px;
    border-radius: 35px;

    cursor: pointer;
    transition-duration: 0.4s;

    font-size: 1.2rem;
    font-family: inherit;
}

button.spaced {
    margin-right: 18px;
}

.colored-button {
    border: none;
    background: #FBFF54;
    color: #1B1B1B;
}

.colored-button:hover {
    background: #FECB01;
}

.bordered-button {
    border-style: solid;
    border-color: #1B1B1B;
    color: #1B1B1B;
    background: white;
    border-width: 1px;
}

.bordered-button:hover {
    background: #1B1B1B;
    color: white;
}

/* Header Styles */
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1;

    font-family: 'Montserrat', sans-serif;

    display: flex;
    align-items: center;
    padding: 2% 10%;
    justify-content: space-between;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    color: #FECB01;
}

.active {
    font-weight: 700;
    color: #FECB01;
}

.nav-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.icon:hover path {
    fill: #FECB01;
}

/* Main Content Styles */
body {
    /* Pang compensate ra sa fixing sa navbar */
    margin: 150px 0 0 0;
}

.hero {
    height: 100vh;
    width: 100%;
}

.main-content {
    padding-inline: 10%;
    margin: 0;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;

    height: 76.51fvh;
}

/* Left Panel styles */
.panel {
    flex: 1;
    justify-content: center;
    border-color: 2px aqua;
}

.title {
    padding-top: 80px;
}

.title h1 {
    margin: 0;
    font-size: 5.5rem;
    font-weight: 700;
    color: #4A6C1C;
}

.hero-paragraph {
    padding-top: 50px;
    padding-bottom: 40px;
    line-height: auto;
}



/* Footer Styles */
footer {
    max-width: 100%;
    padding: 4px;

    white-space: nowrap;
    background: #E2FC51;
    text-align: center;
}

footer p {
    display: inline-block;
    font-size: 0.65rem;
    color: #1b1b1b;
}

footer a {
    text-decoration: underline;
}

/* background-color: #E2FC51;
width: 100%;
height: 2.5rem;

padding: 15px;
text-align: center;
font-size: 10px;
color: black; */