/* General Styles */

/* Content Styles */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #1b1b1b;

    /* Pang compensate ra sa fixing sa navbar */
    margin: 150px 0 0 0;
}

.button-main {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 48px;
    padding-right: 48px;
    border-radius: 35px;

    cursor: pointer;
    transition-duration: 0.4s;

    font-size: 1.2rem;
    font-family: inherit;
}

.button-main.spaced {
    margin-right: 18px;
}

.button-main.colored {
    border: none;
    background: #FECB01;
    color: #1B1B1B;
}

.button-main.colored:hover {
    background: #FD9F13;
    color: #fff;
}

.navbar-links .icon svg path:hover {
    fill: #FECB01;
}

.button-main.bordered {
    border-style: solid;
    border-color: #1B1B1B;
    color: #1B1B1B;
    background: white;
    border-width: 1px;
}

.button-main.bordered:hover {
    background: #1B1B1B;
    color: white;
}

/* Header Styles */
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1;

    font-family: 'Montserrat', sans-serif;

    display: flex;
    align-items: center;
    padding: 2% 10%;
    justify-content: space-between;

    z-index: 2;
    /* para mas taas siya kesa sa saging. Lagot man gud ning saging ba. */
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    color: #FECB01;
}

.active {
    font-weight: 700;
    color: #FECB01;
}

.nav-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.icon:hover path {
    fill: #FECB01;
}

/* Footer Styles */
footer {
    padding: 4px 0px;

    white-space: nowrap;
    background: #e2fc51;
    text-align: center;

    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    display: inline-block;
    font-size: 0.65rem;
    color: #1b1b1b;
}

footer a {
    text-decoration: underline;
}

/* =================================================== */




/* ---------------------------------------------------------------- */
/* 2. PRODUCTS PAGE */

/* product card */

.products-hero {
    text-align: center;
}

.products-hero p {
    word-break: break-all;
}


.products-hero h1 {
    font-weight: 900;
    font-size: 3.125rem;
}

.products-hero p {
    font-size: 1.25rem;
}

.product-card {
    width: 220px;
    background: #fff;
    border-radius: 10px;
    border: 2px solid #E3E3E3;
    text-align: center;
    display: inline-block;
    margin-right: 11px;
}

.products-description {
    margin-bottom: 51px;
}

.products-description h1 {
    font-size: 1.1.688rem;
    font-weight: 700;
    text-align: center;
}

.products-description p {
    font-size: 13px;
    text-align: center;
    color: #B7B7B7;

}

.product-card-content {
    padding: 24px 24px;
}

.price {
    text-align: left;
    margin-bottom: 17px;
}

.price .cost {
    font-weight: 700;
    font-size: 16px;
}

.price .description {
    font-weight: 700;
    font-size: 10px;
    color: #B7B7B7;
}

.product-image {
    height: 98px;
    margin-bottom: 17px;
}

.product-image img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    font-weight: 700;
    margin-bottom: 27px;
    height: 39px;
}

.product-details p.category {
    color: #b7b7b7;
    font-size: 10px;
    margin-bottom: 5px;
}

.product-details p.name {
    color: #1b1b1b;
    font-size: 16px;
    margin-top: 0px;
}

/* Sa quantity selector na ni */
.quantity-selector {
    display: flex;
    justify-content: center;
    margin-bottom: 17px;
}

.quantity-input {
    width: 48px;
    height: 20px;
    border: none;
    text-align: center;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16;
}

.minus-btn,
.plus-btn {
    width: 23px;
    height: 24px;
    border: none;
    border-radius: 5px;

    background-color: #4A6C1C;
    color: white;
    font-size: 20px;
}

.minus-btn:hover,
.plus-btn:hover {
    background-color: #344E10;
    cursor: pointer;
}

.button-products {
    background: #58A65C;
    border: none;
    border-radius: 44px;

    color: white;
    font-family: inherit;
    font-size: 11px;
    padding: 12px 47px;
}

.button-products:hover {
    background-color: #4C8E4F;
    cursor: pointer;
}

.button-products:active {
    background-color: #386A3B;
}

.search-div {
    margin-top: 51px;
    margin-bottom: 148px;
}

.search-bar {
    width: 723px;
    align-items: center;
    border-radius: 53px;
    font-family: inherit;
    font-size: 16px;
    border: 2px solid #E3E3E3;

    padding: 16px 28px;
    margin: 0 auto;
    display: block;
}

.search-bar-secondary {
    width: 300px;
    align-items: center;
    border-radius: 53px;
    font-family: inherit;
    font-size: 16px;
    border: 2px solid #E3E3E3;

    padding: 16px 28px;
    margin: 0 auto;
    display: block;
}

input {
    background: url("assets/search-icon.svg") right no-repeat;
    background-position: 733px 12px;
}

.categ {
    margin: 45px 8%;
    margin-top: 100px;
}

.categ .cat-name {
    font-weight: 700;
    font-size: 27px;
    color: #1b1b1b;
}

.categ .desc {
    font-weight: 500;
    font-size: 13px;
    color: #B7B7B7;
    margin-top: 3px;
}

.cards-row {
    display: flex-start;
    justify-content: space-between;
    margin-inline: 8%;
}



/* ---------------------------------------------------------------- */
/* 1. HOMEPAGE */

/* Main Content */
body {
    /* Pang compensate ra sa fixing sa navbar */
    margin: 150px 0 0 0;
}

.home-paragraph {
    padding-top: 50px;
    padding-bottom: 40px;
    line-height: auto;
}

.paragraph p {
    margin: 0;
    font-size: 1.1rem;
}

.title {
    padding-top: 80px;
}

.title h1 {
    margin: 0;
    font-size: 5.5rem;
    font-weight: 700;
    color: #4A6C1C;
}

.title p {
    padding-top: 50px;
    padding-bottom: 40px;
    line-height: auto;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;

    height: 100vh;
    width: 100%;
    background-image: url(assets/home-bg.png);
    background-size: cover;
}

.panel {
    flex: 1;
    margin-top: 0;
    margin-bottom: 0;
}

.panel.left {
    order: 1;
    padding-left: 10%;
}

.panel.right {
    order: 2;
    margin-right: 0;
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
    }

    .panel {
        margin: 0;
    }
}

.banana {
    z-index: 1;
}

.banana-bg {
    position: absolute;
    top: 1;
    right: 0
}

/* Animation Styles */
.wrapper:hover #slide {
    transition: 1s;
    right: 0;
}

.mySlides {
    display: none;
    float: right;
}

.w3-animate-right {
    position: relative;
    animation: animateright 0.8s
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0
    }

    to {
        right: 0;
        opacity: 1
    }
}



/* -------------------------------------------------- */
/* Sign Up */
@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}

* {
    font-family: 'Montserrat', sans-serif;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.bg {
    background-color: #406829;
    /* background: url(assets/reut-GQ62pYNohW0-unsplash.jpg) */
}

@media (min-width: 992px) {
    .card-registration-2 .bg {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}

@media (max-width: 991px) {
    .card-registration-2 .bg {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}