/* General Styles */

/* Content Styles */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #1b1b1b;

    /* Pang compensate ra sa fixing sa navbar */
    margin: 150px 0 0 0;
}

button {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 48px;
    padding-right: 48px;
    border-radius: 35px;

    cursor: pointer;
    transition-duration: 0.4s;

    font-size: 1.2rem;
    font-family: inherit;
}

button.spaced {
    margin-right: 18px;
}

.colored-button {
    border: none;
    background: #FBFF54;
    color: #1B1B1B;
}

.colored-button:hover {
    background: #FECB01;
}

.bordered-button {
    border-style: solid;
    border-color: #1B1B1B;
    color: #1B1B1B;
    background: white;
    border-width: 1px;
}

.bordered-button:hover {
    background: #1B1B1B;
    color: white;
}

/* Header Styles */
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1;

    font-family: 'Montserrat', sans-serif;

    display: flex;
    align-items: center;
    padding: 2% 10%;
    justify-content: space-between;

    z-index: 2;
    /* para mas taas siya kesa sa saging. Lagot man gud ning saging ba. */
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    color: #FECB01;
}

.active {
    font-weight: 700;
    color: #FECB01;
}

.nav-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.icon:hover path {
    fill: #FECB01;
}

/* Footer Styles */
footer {
    padding: 4px 0px;

    white-space: nowrap;
    background: #e2fc51;
    text-align: center;

    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    display: inline-block;
    font-size: 0.65rem;
    color: #1b1b1b;
}

footer a {
    text-decoration: underline;
}

/* =================================================== */



/* 1. HOMEPAGE */

/* Main Content */
body {
    /* Pang compensate ra sa fixing sa navbar */
    margin: 150px 0 0 0;
}

.home-paragraph {
    padding-top: 50px;
    padding-bottom: 40px;
    line-height: auto;
}

.paragraph p {
    margin: 0;
    font-size: 1.1rem;
}

.title {
    padding-top: 80px;
}

.title h1 {
    margin: 0;
    font-size: 5.5rem;
    font-weight: 700;
    color: #4A6C1C;
}

.title p {
    padding-top: 50px;
    padding-bottom: 40px;
    line-height: auto;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;

    height: 100vh;
    width: 100%;
    background-image: url(assets/home-bg.png);
    background-size: cover;
}

.panel {
    flex: 1;
    margin-top: 0;
    margin-bottom: 0;
}

.panel.left {
    order: 1;
    padding-left: 10%;
}

.panel.right {
    order: 2;
    margin-right: 0;
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
    }

    .panel {
        margin: 0;
    }
}

.banana {
    z-index: 1;
}

.banana-bg {
    position: absolute;
    top: 1;
    right: 0
}

/* Animation Styles */
.wrapper:hover #slide {
    transition: 1s;
    right: 0;
}

.mySlides {
    display: none;
    float: right;
}

.w3-animate-right {
    position: relative;
    animation: animateright 0.8s
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0
    }

    to {
        right: 0;
        opacity: 1
    }
}